.navbar {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid grey;
    padding: 0.5rem;
    transition: all 0.2s ease;
    &:hover {
      background: grey;
      color: white;
    }
  }
}
